img{
    width: 287px;
    height: 190px;
}

.sombra{
    box-shadow: grey 5px 5px 25px;
}


.vistaPrevia{
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: grey 5px 5px 25px;
}
