<section class="container mt-5">
    <h1 class="text-center"> PAQUETES ESCOLARES </h1>
    <hr class="mb-5">
  
    
    <div class="row mt-5">
      <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card" style="width: 18rem; ">
            <img class="card-img-top img-fluid" src="../assets/boda.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> CBTis 226</h5>
              <p class="card-text"> Muestrario de CBTis 226</p>
              <a href="#" class="btn btn-primary">ver</a>
            </div>
          </div>
      </div>
  
      <div class="d-flex justify-content-center col-sm-12  col-md-6 col-lg-4 mb-5">
            <div class="card" style="width: 18rem; ">
              <img class="card-img-top img-fluid" src="../assets/xv.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> UDG </h5>
                  <p class="card-text"> Muestrario de la UDG</p>
                  <a href="#" class="btn btn-primary">ver</a>
                </div>
            </div>
      </div>
  
      <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card" style="width: 18rem; ">
            <img class="card-img-top img-fluid" src="../assets/personalizadas.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ITC</h5>
                <p class="card-text"> Muestrario del ITC</p>
                <a href="#" class="btn btn-primary">ver</a>
              </div>
          </div>
      </div>

      <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card" style="width: 18rem; ">
            <img class="card-img-top img-fluid" src="../assets/bautizo.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ITC</h5>
                <p class="card-text"> Muestrario del ITC</p>
                <a href="#" class="btn btn-primary">ver</a>
              </div>
          </div>
      </div>

      <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card" style="width: 18rem; ">
            <img class="card-img-top img-fluid" src="../assets/primeraC.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ITC</h5>
                <p class="card-text"> Muestrario del ITC</p>
                <a href="#" class="btn btn-primary">ver</a>
              </div>
          </div>
      </div>
  
     

     
    </div> 
  
  </section>