
<section class="container mt-5">

    <h1 class="text-center"><i class="fa fa-picture-o  mr-2"></i> {{title}} </h1>
    <hr class="mb-5">
  
    
    <div class="row mt-5">
      
      <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-4 mb-5" *ngFor="let s of sessionsCustom; let i = index">
          <div class="card sombra" style="width: 18rem; ">
            <img class="card-img-top img-fluid" src="{{s.imgUrl}}" alt="{{s.alt}}">
            <div class="card-body">
              <h5 class="card-title text-center"> {{s.title}} </h5>
              <button class="btn btn-primary btn-block" (click)="vista(i)"><i class="fa fa-eye"></i> Vista Previa</button>
              <!-- <p class="card-text"> {{s.description}}</p> -->
             <!--  -->
            </div>
          </div>
      </div>

    </div> 


   
 
    <div class="row py-5" [hidden]="vistaPrevia">
       
        <div class="col-sm-12">
            <h2>Vista Previa</h2>
            <hr>
            <img src="{{image}}"  class="vistaPrevia mt-5">

            <div class="col-sm-12 mt-5">
                <button class="btn btn-danger btn-block mt-3" (click)="ocultar()"><i class="fa fa-eye-slash"></i> Ocultar</button>
            </div>    
      </div>

   </div>
  
  </section>

  <app-footer></app-footer>