
    <footer class="container-fluid  text-center text-light py-2 bg-dark">  
<!--
        <div class="mb-2">

            <a class="text-light mr-4 py-2" href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook-square i"></i>
            </a> 

            <a class="text-light" href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram i"></i>
            </a>  
         </div>
-->
      
        <i class="fa fa-copyright"></i>  FOTOGRAFIA NAVARRO 2018 

        <div>
            <address>
                <small>
                    <i class="fa fa-phone"></i> <span class="mr-3"> 41 0 11 06</span>
                    <i class="fa fa-whatsapp"></i> <span> 341 147 17 15</span>
                </small>    
            </address>
        </div>
        
    </footer>