
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

          <!-- Logo y Titulo -->
      <a class="navbar-brand" routerLink="">
          <img src="../assets/logo.jpg" class="d-inline-block align-top" alt="">
                    FOTOGRAFIAS NAVARRO  
      </a>


            <!-- Boton -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!-- borame !-->
                     <!-- items -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center ml-auto mr-auto">
            <a class="nav-item nav-link aHover" routerLink="paquetes-escolares" routerLinkActive="active">Paquetes Escolares</a>
            <a class="nav-item nav-link aHover" routerLink="identificacion" routerLinkActive="active">Fotografias de Identificacion</a>
            <a class="nav-item nav-link aHover" routerLink="sesiones" routerLinkActive="active">Sesiones Personalizadas</a>
            <a class="nav-item nav-link aHover" routerLink="montajes" routerLinkActive="active">Montajes y Restauraciones</a>
<!--
            <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Archivo</a>
                      <a class="dropdown-item" href="#">Contacto</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
-->               
        </div>

         
    </div>

  
    
  </nav>