
<section class="container py-5">
    <h1 class="text-center"><i class="fa fa-address-card-o mr-2"></i> Fotografías de Identificación</h1>
    <hr>

      <div class="row py-5">

        <div class="col-sm-12 col-md-12">

            <h2>Credencial</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.card1}}" alt="" class=" mb-5">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.card2}}" alt="" class="mb-5">
                </div>  
            </div>

          </div> 

        </div>


        <div class="col-sm-12 col-md-12">

            <h2>Credencial Ovalada</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.cardOval1}}" alt="" class=" mb-5">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.cardOval2}}" alt="" class="mb-5">
                </div>  
            </div>

          </div> 

        </div>


        <div class="col-sm-12 col-md-12">

            <h2>Titulo</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.titulo1}}" alt="" class=" mb-5">
                </div>  
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.titulo2}}" alt="" class="mb-5">
                </div>  
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.titulo3}}" alt="" class="mb-5">
                </div>  
            </div>

          </div> 

        </div>



        <div class="col-sm-12 col-md-12">

            <h2>Titulo Ovalado</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.tituloOval1}}" alt="" class=" mb-5">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.tituloOval2}}" alt="" class="mb-5">
                </div>  
            </div>

          </div> 

        </div>

        <div class="col-sm-12 col-md-12 py-5">

            <h2>Diploma</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.diploma}}" alt="">
                </div>  
            </div>

          </div> 

        </div>

        <div class="col-sm-12 col-md-12">

            <h2>Infantil</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.infantil1}}" alt="" class=" mb-5">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.infantil2}}" alt="" class="mb-5">
                </div>  
            </div>

          </div> 

        </div>

        <div class="col-sm-12 col-md-12">

            <h2>Pasaporte</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.pasaporte1}}" alt="" class=" mb-5">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.pasaporte2}}" alt="" class="mb-5">
                </div>  
            </div>

          </div> 

        </div>

        <div class="col-sm-12 col-md-12">

            <h2>Visa</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identificationImages.visa}}" alt="">
                </div>  
            </div>

          </div> 

        </div>

  </div>
</section>

<app-footer></app-footer>