

<section class="container py-5 mb-5" >
    <h1 class="text-center">CuSur</h1>
    <hr>
  
    <div class="row py-5 ">

          <div class="col-sm-12 col-lg-4 py-5">
                <h2 class="text-center">Credencial</h2>
                <hr>
                <div class="d-flex justify-content-center">
                    <img src="{{images.packagesSchoolImages.cusCard}}" alt="" class="img-2">
                </div>   
         </div>

        
      <div class="col-sm-12 col-lg-4 py-5">
          <h2 class="text-center">Infantil</h2>
          <hr>
          <div class="d-flex justify-content-center">
            <img src="{{images.packagesSchoolImages.cusIn}}" alt="" class="img-2">
          </div> 
      </div>

      <div class="col-sm-12 col-lg-4 py-5">
          <h2 class="text-center">Titulo</h2>
          <hr>
          <div class="d-flex justify-content-center">
            <img src="{{images.packagesSchoolImages.cusTitle}}" alt="" class="img-2">
          </div>
     </div>
 

      <div class="col-sm-12 col-md-12 py-5 px-5">
            <h2 class="text-center">Paquete</h2>
            <hr>
            <img src="{{images.packagesSchoolImages.cusPackage}}" alt="" class="img">
        </div>

     
      <div class="col-sm-12 col-md-12 py-5 px-5">
          <h2 class="text-center">Paquete Cusur</h2>
          <hr>
          <img src="{{images.packagesSchoolImages.cusPackageCus}}" alt="" class="img">
      </div>

     </div> 

  </section>
  
  <app-footer></app-footer>
  