<section class="container py-5 mb-5">
    <h1 class="text-center">CuSur</h1>
    <hr>
  
    <div class="row py-5 d-flex justify-content-center">
       
        <div class="col-sm-12 col-md-4 mb-5 mr-5">
            <h2>Credencial</h2>
            <hr>
            <img src="{{images.packagesSchoolImages.cusCard}}" alt="" class="img-2">
        </div>

        
      <div class="col-sm-12 col-md-4 mb-5">
          <h2>Infantil</h2>
          <hr>
          <img src="{{images.packagesSchoolImages.cusIn}}" alt="" class="img-2">
      </div>

      <div class="col-sm-12 col-md-4">
          <h2>Titulo</h2>
          <hr>
          <img src="{{images.packagesSchoolImages.cusTitle}}" alt="" class="img-2">
        </div>
      </div>

      <div class="col-sm-12 col-md-12 mb-5">
            <h2>Paquete</h2>
            <hr>
            <img src="{{images.packagesSchoolImages.cusPackage}}" alt="" class="img">
        </div>

     
      <div class="col-sm-12 col-md-12 mb-5">
          <h2>Paquete Cusur</h2>
          <hr>
          <img src="{{images.packagesSchoolImages.cusPackageCus}}" alt="" class="img">
      </div>
      
  </section>
  
  <app-footer></app-footer>
  