 <!-- Carrusel de Imagenes  -->
 <app-corusel></app-corusel>
 
 <section class="container mt-5 b">

      <h1 class="text-center mb-5"> <i class="fa fa-camera-retro  mr-2"></i>FOTOGRAFIA NAVARRO </h1>


     <h2 class="text-center mt-5 pt-5"><i class="fa fa-map-marker"></i> SUCURSALES</h2>
     <hr>

     <div class="row py-5 d-flex justify-content-center">

        <div class="col-sm-12 col-lg-6 mb-5">
            <h2 class="text-center"><i class="fa fa-map-marker"></i> SUCURSAL 1</h2>
            <hr>
            <agm-map [latitude]="lat"  [longitude]="lng"  [zoom]="zoom" 
                    [zoomControl]="false">
                <agm-marker [latitude]="markers[0].lat" [longitude]="markers[0].lng" > </agm-marker> 
            </agm-map>
        </div>

        <div class="col-sm-12 col-lg-6">
            <h2 class="text-center"><i class="fa fa-map-marker"></i> SUCURSAL 2</h2>
            <hr>
            <agm-map [latitude]="lat2" [longitude]="lng2" [zoom]="zoom2" 
                     [zoomControl]="false">
                <agm-marker [latitude]="markers[1].lat" [longitude]="markers[1].lng"></agm-marker>
            </agm-map>
        </div>

     </div>
    
   </section>

   <app-footer></app-footer>